.container {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex: 2;
}

.container-1 {
  display: flex;
  flex: 2;
  margin-left: 30px;
}

.container-2 {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.container-2 button {
  width: 90px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: white;
  color: grey;
  font-size: 15px;
  transition: all 0.5s;
}
.container-2 button:hover {
  cursor: pointer;
  color: black;
}

.container-3 {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.container-3 button {
  width: 90px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: white;
  color: grey;
  font-size: 15px;
  transition: all 0.5s;
}
.container-3 button:hover {
  cursor: pointer;
  color: black;
}

.container-4 {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.container-4 button {
  width: 90px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: white;
  color: grey;
  font-size: 15px;
  transition: all 0.5s;
}
.container-4 button:hover {
  cursor: pointer;
  color: black;
}

.container-5 {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.container-5 button {
  width: 90px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: white;
  color: grey;
  font-size: 15px;
  transition: all 0.5s;
}
.container-5 button:hover {
  cursor: pointer;
  color: black;
}

.container-6 {
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
}
.container-6 button {
  width: 90px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: white;
  color: black;
  transition: all 0.5s;
}
.container-6 button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.container-7 {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.container-7 button {
  width: 90px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
.container-7 button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.big-box {
  display: flex;
  padding: 20px;
}
.right-box {
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  flex: 2;
  background: #eae8ee;
  padding-left: 70px;
  padding-top: 100px;
}

.right-1 {
}

.right-2 {
  font-size: 25px;
  width: 500px;
}

.right-3 {
  width: 400px;
}

.right-4 {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.right-4 button {
  width: 300px;
  margin-top: 40px;
  padding: 20px;
  border: none;
  border-radius: 7px;
  background-color: #eae8ee;
  color: black;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.right-4 button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.left-box {
  flex: 2;
  margin-right: 30px;
  background: linear-gradient(to bottom right, #e95a83, #d2b4de, #712cd5);
  height: 500px;
  justify-content: center;
}
.box-img-1 {
  margin: 40px;
  display: flex;
  justify-content: space-around;
}
.box-img-2 {
  display: flex;
  justify-content: center;
}
.box-img-3 {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.heading-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.heading-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.image {
  display: flex;
  flex: 2;
  align-items: flex-end;
}
.image-1 {
  padding: 20px;
  display: flex;
  flex: 2;
  margin-left: 130px;
}
.image-2 {
  padding: 20px;
  display: flex;
  flex: 2;
}
.image-3 {
  padding: 20px;
  display: flex;
  flex: 2;
}

.working {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.explain {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  margin: 10px;
}
.explain-1 {
  padding: 20px;
}
.explain-2 {
  padding: 20px;
}
.explain-3 {
  padding: 20px;
}

.download {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 50px;
  font-family: "Roboto", sans-serif;
}
.image-4 {
  display: flex;
  justify-content: space-around;
}
.appstore button {
  width: 300px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.appstore button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.playstore button {
  width: 300px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.playstore button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.banking {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 50px;
  padding: 50px;
}
.bank-1 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding-top: 40px;
  width: 300px;
}
.bank-2 {
  font-family: "Roboto", sans-serif;
}
.image-5 {
  display: flex;
  justify-content: space-around;
}
.getstarted button {
  width: 300px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.getstarted button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.contact-1 {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  justify-content: center;
}
.contact-2 {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.search-box {
  display: flex;
  justify-content: center;
  width: 134px;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.getstart button {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.getstart button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.end {
  display: flex;
  flex: 3;
  padding: 40px;
  margin: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #eae8ee;
  justify-content: center;
}
.end-1 {
  flex: 3;
  width: 300px;
  justify-content: space-around;
}
.end-2 {
  display: flex;
  flex: 3;
  justify-content: space-around;
}
.end-4 {
  display: flex;
  flex: 3;
  justify-content: space-around;
}
.end-6 {
  display: flex;
  flex: 3;
  justify-content: space-around;
}
